body {
  //background-color: #ECFAE9;
  align-items: center;
  justify-content: center;
  display: flex;
}
.login {
  margin-top: 200px;
  width: 400px;
  height: 300px;
  background-color: #D1CFFA;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
  display: flex;
}
.login-google {
  margin-top: 64px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #ea4335;
  color: #fff;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor: pointer;
  border: 0;
  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }
  &:hover{ 
    filter: brightness(0.9);
  }
}


